<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pydio.android.cells"
    android:versionName="@string/app_version">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To be able to take photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!-- WIP: access data usage from within the app 
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    -->

    <application
        android:name=".CellsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/application_title"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Cells.Md3">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Cells.Md3.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="callback"
                    android:scheme="cellsauth" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MigrateActivity"
            android:exported="false" />

        <!--        <activity-->
        <!--            android:name=".SampleActivity"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/Cells.Md3.SplashScreen">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".SelectTargetActivity"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/Cells.Md3.LightStatusBar">-->
        <!--            &lt;!&ndash;            <intent-filter>&ndash;&gt;-->
        <!--            &lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
        <!--            &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
        <!--            &lt;!&ndash;            </intent-filter>&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <action android:name="android.intent.action.SEND" />-->
        <!--                <data android:mimeType="*/*" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->
        <!--                <data android:mimeType="*/*" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".LoginActivity"-->
        <!--            android:exported="true"-->
        <!--            android:theme="@style/Cells.Md3.LightStatusBar">-->
        <!--            <intent-filter>-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <action android:name="android.intent.action.VIEW" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                <data-->
        <!--                    android:host="callback"-->
        <!--                    android:scheme="cellsauth" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <activity android:name=".CarouselActivity" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pydio.android.Client.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Work manager is handled by koin, see:
                https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration#remove-default
                and
                https://insert-koin.io/docs/reference/koin-android/workmanager#setup-workmanager
                -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
